/**
 * @file
 * Custom CSS for the Menu_MiniPanels module.
 */

/*
 * Effects.
 */

/* The default minipanel hover effect uses CSS3 transitions to scroll down.
 * But CSS3 cannot transition between height:0; and height:auto; so we use
 * max-height as a fallback solution. Override the max-height and transition
 * speed to values that makes sense for your menu_minipanels in your theme.
 */
li > .menu-minipanel-panel {
  position: absolute;
  z-index: 99;
  max-height: 0;
  overflow: hidden;
  -webkit-transition: max-height 0.15s ease-out;
  -moz-transition: max-height 0.15s ease-out;
  -ms-transition: max-height 0.15s ease-out;
  -o-transition: max-height 0.15s ease-out;
  transition: max-height 0.15s ease-out;
}
li:hover > .menu-minipanel-panel {
  max-height: 500px;
  -webkit-transition: max-height 0.25s ease-in;
  -moz-transition: max-height 0.25s ease-in;
  -ms-transition: max-height 0.25s ease-in;
  -o-transition: max-height 0.25s ease-in;
  transition: max-height 0.25s ease-in;
}


/*
 * Hacks and fixes.
 */

/* Hide the faux link hack, created in menu_minipanels_theme_links(). */
.menu-minipanel-not-a-link {
  display: none !important;
}

/* Fix panel pane links when shown inside the primary menu for core Garland */
.primary-links .panel-pane a,
.primary-links .panel-pane a:link,
.primary-links .panel-pane a:visited {
  background: none;
}


/*
 * Default theming.
 */

 /* Provide a solid background color for menu minipanels. */
.menu-minipanel-panel .panel-display {
  background: #fff;
}


/**
 * Example layout styles for various kinds of alignment.
 */

/* Centered */
.menu-minipanel-panel {
  left: 50%;
  right: inherit;
  overflow-y: visible;
  max-width: 300px; /* Centered mega-menus require a max-width */
  margin-left: -150px; /* Half of max-width */
}

/* Right aligned */
.menu-minipanel-panel {
  right: 0;
  left: inherit;
  margin-left: 0;
  max-width: inherit;
}

/* Left aligned (default) */
.menu-minipanel-panel {
  left: 0;
  right: inherit;
  margin-left: 0;
  max-width: inherit;
}

/* Target specific minipanels using the adjacent (+) selector. Replace NNN with the mlid. */
.menu-minipanel-NNN + .menu-minipanel-panel {
  /* Custom layout or positioning rules here */
}
.menu-minipanel-NNN + .menu-minipanel-panel .panel-display {
  /* Custom style rules here */
}
li:hover > .menu-minipanel-NNN + .menu-minipanel-panel {
  /* Custom hover effects here. */
}
